@charset "UTF-8";
/* CSS Document */

* {
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}

header {
	display: grid;
	grid-template-columns: repeat(14, [col-start] 1fr);
	padding-bottom: 20px;
	padding-top: 20px;
}

.logo {
	background-color: deeppink;
	height: 60px;
	grid-column: 7 / span 2;
}
.search {
	grid-column: 12 / span 2;
}

.search textarea {
	width:100%
}

.head-icons {
	grid-column: 12 / span 1;
	display: grid;
	grid-template-columns: repeat(2, [col-start] 1fr);
	align-items: center;
}

.bruger {
	font-size: 20px;
	text-align: center;
	grid-column: col-start / span 1;
	color: black;
	

}
.kurv {
	
	font-size: 20px;
	text-align: center;
	grid-column: 2 / span 1;
	color: black;
}

.book {
	background-color: blueviolet;
	height: 30px;
	grid-column: 13 / span 1;
}







* {font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}

nav {
  overflow: hidden;
  display:flex;
  justify-content: space-around;
}

nav a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.styling-drop, .behandling-drop {
  float: left;
  overflow: hidden;
}

.styling-drop .dropknap1, .behandling-drop .dropknap2 {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: white;
  margin: 0;
}

nav a:hover, .styling-drop:hover .dropknap1, .dropknap1:focus, .behandling-drop:hover .dropknap2, .dropknap2:focus {
  background-color: #D2A2A6;
}

.indhold  {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.indhold a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.indhold a:hover, {
  background-color: #D2A2A6;
}

.visboks {
  display: block;
}









footer {
	text-align: center;
	color: white;
	background-color: #D2A2A6;
	height: 60px;
	padding-top:20px;
}




.wrapper {
	display: grid;
	grid-template-columns: repeat(14, [col-start] 1fr);
	
}
.hero {
	background-color: darkmagenta;
	height: 500px;
	grid-column: col-start / span 14;
}


.kurserknap {
	text-decoration: none;
	color:white;
	background-color:rgba(255,255,255,0.40);
	border-radius: 40px;
	padding: 10px;
	font-size: 20px;

}

.covidbox {
	background-color: #F6F6F6;
	grid-column: col-start / span 7;
	display: grid;
	grid-template-columns: repeat(7, [col-start] 1fr);
	padding-bottom: 50px;
}
.covidbox h2 {
text-align: center;
grid-column: 2 / span 5;
}

.covidbox p {
text-align: center;
grid-column: 2 / span 5;
}

.covidbillede {
	background-color: darkmagenta;
	height: 550px;
	grid-column: 2 / span 5;
	
	
}

.volkommenbox {
	background-color: #F6F6F6;
	grid-column: 8 / span 7;
	display: grid;
	grid-template-columns: repeat(7, [col-start] 1fr);
	padding-bottom: 50px;
}
.volkommenbox h2 {
text-align: center;
grid-column: 2 / span 5;
}

.volkommenbox p {
text-align: center;
grid-column: 2 / span 5;
}

.volkommenbillede {
	background-color: darkmagenta;
	height: 550px;
	grid-column: 2 / span 5;
	
	
}

.reviews{
	
	grid-column: col-start / span 14;
	display: grid;
	grid-template-columns: repeat(14, [col-start] 1fr);
	padding-bottom: 50px;
	text-align: center;
}
.reviews h2 {
	text-align: center;
	grid-column: col-start / span 14;
}

.review-1 {
	grid-column: 2 / span 3;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #F6F6F6;
	margin: 3px;
}
.review-2 {
	grid-column: 5 / span 3;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #F6F6F6;
	margin: 3px;
}.review-3 {
	grid-column: 8 / span 3;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #F6F6F6;
	margin: 3px;
}.review-4 {
	grid-column: 11 / span 3;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #F6F6F6;
	margin: 3px;
}





/* bryllup------------------------------------------- */

.hero {
  position: relative;
  text-align: center;
  color: white;
}

.heroimg {
	width: 100%;
	height: 500px;
}

.herotxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: 50px;
}

.herotxt h1 {
	margin-bottom: 20px;
}

.overlay {
	background-color: black;
	position: absolute;
	height: 500px;
	width: 100%;
	 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	opacity: 40%;
	
}

.pakke1 ul, .pakke2 ul, .pakke3 ul {
	list-style: none;
	padding-left:0px;;
}


.uncheck {
	opacity: 40%;
}

.pakke1 h3, .pakke2 h3, .pakke3 h3 {
	text-align: center;
}

.pakke1, .pakke2, .pakke3 {
	margin: 70px 10px 60px 10px;
	box-shadow: 10px 10px 20px 4px rgba(112,112,112,0.63);
	padding: 20px 40px 60px 40px;
}

.pakke1 {
	grid-column: 2 / span 4;
	
}
.pakke2 {
	grid-column: 6 / span 4;
	
}

.pakke3 {
	grid-column: 10 / span 4;
	
}

.info {
	grid-column: col-start / span 14;
	text-align: center;
}

.priser {
	grid-column: col-start / span 14;
	display: grid;
	grid-template-columns: repeat(14, [col-start] 1fr);
	background-color: #F6F6F6;
	margin: 60px 0 60px 0 ;
	
}

.rakke1 {
	grid-column: 2 / span 5;
}
.rakke2 {
	grid-column: 7 / span 1;
}

.rakke3 {
	grid-column: 8 / span 5;
}
.rakke4 {
	grid-column: 13 / span 1;
}

.prisinfo {
	text-align: center;
}




.pakkeA {
	grid-column: 2 / span 6;}

.pakkeA, .pakkeB{ 
	
	padding: 70px 100px 0px 100px;
	box-shadow: 10px 10px 20px 4px rgba(112,112,112,0.63);
	margin: 70px 10px 60px 10px;
	display: grid;
	grid-template-rows: 4fr 1fr;
}

.pakkec, .pakked{ 
	
	padding: 70px 100px 20px 100px;
	box-shadow: 10px 10px 20px 4px rgba(112,112,112,0.63);
	margin: 70px 10px 60px 10px;
	display: grid;
	grid-template-rows: 1fr 1fr;

}


.pakkec {
	grid-column: 2 / span 6;}

.pakked {
	grid-column: 8 / span 6;
	display: grid;
	grid-template-columns: repeat(2, [col-start] 1fr);
}

#eyelinerbeskrivelser {
	grid-column: col-start / span 2;
}

#eyelinepris1 { 
	grid-column: col-start / span 1;
	text-align: center;
}

#eyelinepris2 {
	grid-column: 2 / span 1;
	text-align: center;
}




.pakkeB {
	grid-column: 8 / span 6;
	
}

.pakkeA h3, .pakkeB h3 {
	
	text-align: center;
	margin-bottom: 50px;
}

.pakkebeskrivelser {
	grid-column: row-start / span 1;
}

.pakkepris {
	grid-column: 2/ span 1;
	text-align: center;
}





.permanentbeskrivelse {
	grid-column: col-start / span 14;
	background-color: #F6F6F6;
	padding: 70px;
}




#manioverskrift, #pedioverskrift, #klipoverskrift, #brynoverskrift, #voksoverskrift {
	grid-column: 2/ span 6;
	
}

/* manicure og pedicure ------------------------------------------------------*/




.manisek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(6, [row-start] minmax(min-content, max-content));
	margin: 20px 20px 20px 0px;
	
}

.manisek2 {
	grid-column: 8/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: repeat(8, [row-start] minmax(min-content, max-content));
	margin: 20px 0px 20px 20px;
	
}



	#maninavn1, #maninavn2, #maninavn3, #manibeskrivelse1, #manibeskrivelse2, #manibeskrivelse3, 	#maninavn4, #maninavn5, #maninavn6, #maninavn7,#manibeskrivelse4, #manibeskrivelse5, #manibeskrivelse6, #manibeskrivelse7   {
	grid-column:1/ span 1;

}

	#manipris1, #manipris2, #manipris3, #manipris4, #manipris5, #manipris6, #manipris7 {
	grid-column: 2/ span 1;
	text-align: center;

}

#manipris1  {
	
	grid-row: 1/ span 1;
}

#manipris2 {
	
	grid-row: 3/ span 1;
}

#manipris3{
	
	grid-row: 5/ span 1;
}


#manipris4 {
	
	grid-row: row-start/ span 1;
}


#manipris5 {
	
	grid-row: 3/ span 1;
}


#manipris6{
	
	grid-row: 5/ span 1;
}


#manipris7{
	
	grid-row: 7/ span 1;
}


.pedisek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(5, [row-start] minmax(min-content, max-content));
	margin: 20px 20px 20px 0px;
	
}

.pedisek2 {
	grid-column: 8/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: repeat(5, [row-start] minmax(min-content, max-content));
	margin: 20px 0px 20px 20px;
	
}


	#pedinavn1, #pedinavn2, #pedinavn3, #pedibeskrivelse1, #pedibeskrivelse3, #pedinavn4, #pedinavn5, #pedinavn6, #pedibeskrivelse5, #pedibeskrivelse6  {
	grid-column: 1/ span 1;

}

	#pedipris1, #pedipris2, #pedipris3,#pedipris4, #pedipris5, #pedipris6, #pedipris7 {
	grid-column: 2/ span 1;
	text-align: center;

}

#pedipris1  {
	
	grid-row: 1/ span 1;
}

#pedipris2 {
	
	grid-row: 3/ span 1;
}

#pedipris3{
	
	grid-row: 4/ span 1;
}


#pedipris4 {
	
	grid-row: 1/ span 1;
}


#pedipris5 {
	
	grid-row: 2/ span 1;
}


#pedipris6{
	
	grid-row: 4/ span 1;
}


.klipsek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(2, [row-start] minmax(min-content, max-content));
	margin: 20px 20px 20px 0px;
	
}

.klipsek2 {
	grid-column: 8/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: repeat(1, [row-start] minmax(min-content, max-content));
	margin: 20px 0px 20px 20px;
	
}

	#klipnavn1, #klipnavn2, #klipnavn3 {
	grid-column: 1/ span 1;

}

	#klippris1, #klippris2, #klippris3 {
	grid-column: 2/ span 1;
	text-align: center;

}

#klippris1 {
	grid-row: row-start/ span 1;
}


/* bryn og vipper ------------------------------------------------------ */


.brynsek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(6, [row-start] minmax(min-content, max-content));
	margin: 20px 20px 20px 0px;
	
}

.brynsek2 {
	grid-column: 8/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: repeat(6, [row-start] minmax(min-content, max-content));
	margin: 20px 0px 20px 20px;	
}

	#brynnavn1, #brynnavn2, #brynnavn3, #brynnavn4, #brynnavn5, #brynnavn6, #brynnavn7, #brynnavn8, #brynbeskrivelse6, #brynbeskrivelse7, #brynbeskrivelse8 {
	grid-column: 1/ span 1;

}

	#brynpris1, #brynpris2, #brynpris3, #brynpris4, #brynpris5, #brynpris6, #brynpris7, #brynpris8  {
	grid-column: 2/ span 1;
	text-align: center;

}

#brynpris1, #brynpris6 {
	grid-row: row-start/ span 1;
}

#brynpris2 {
	grid-row: 2/ span 1;
}
#brynpris3, #brynpris7{
	grid-row: 3/ span 1;
}
#brynpris4 {
	grid-row: 4/ span 1;
}
#brynpris5, #brynpris8 {
	grid-row: 5/ span 1;
}



.vokssek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(10, [row-start] minmax(min-content, max-content));
	margin: 20px 20px 20px 0px;
	
}

.vokssek2 {
	grid-column: 8/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: repeat(9, [row-start] minmax(min-content, max-content));
	margin: 20px 0px 20px 20px;	
}

	#voksnavn1, #voksnavn2, #voksnavn3, #voksnavn4, #voksnavn5, #voksnavn6, #voksnavn7, #voksnavn8, #voksnavn9, #voksnavn10, #voksnavn11, #voksnavn12, #voksnavn13, #voksnavn14, #voksnavn15, #voksnavn16, #voksnavn17, #voksnavn18, #voksnavn19 {
	grid-column: 1/ span 1;

}

	#vokspris1, #vokspris2, #vokspris3, #vokspris4, #vokspris5, #vokspris6, #vokspris7, #vokspris8, #vokspris9, #vokspris10, #vokspris11, #vokspris12, #vokspris13, #vokspris14, #vokspris15, #vokspris16, #vokspris17, #vokspris18, #vokspris19  {
	grid-column: 2/ span 1;
	text-align: center;

}


#vokspris1, #vokspris11 {
	grid-row: 1/ span 1;
}

#vokspris2, #vokspris12 {
	grid-row: 2/ span 1;
}
#vokspris3, #vokspris13 {
	grid-row: 3/ span 1;
}
#vokspris4, #vokspris14 {
	grid-row: 4/ span 1;
}
#vokspris5, #vokspris15 {
	grid-row: 5/ span 1;
}
#vokspris6, #vokspris16 {
	grid-row: 6/ span 1;
}
#vokspris7, #vokspris17 {
	grid-row: 7/ span 1;
}
#vokspris8, #vokspris18 {
	grid-row: 8/ span 1;
}
#vokspris9, #vokspris19 {
	grid-row: 9/ span 1;
}
#vokspris10 {
	grid-row: 10/ span 1;
}




