@charset "UTF-8";
/* CSS Document */
/*skriftypeændringer!!----------------------------------------------------------------------*/


body {
	font-family: 'Noto Serif', serif;
	
}

h1 {
	font-family: 'Lora', serif;
}
.reviews h3, .reviews h2, .covidbox h2, .volkommenbox h2, .pakke1 h3, .pakke2 h3, .pakke3 h3, .info h2, .pakkeA h3, .pakkeB h3, .pakkec h3, .pakked h3 {
	font-family: 'Lora', serif;
	text-decoration: none;
	font-weight: 100;
		color:#882A3F;
	
}

h1 {
	font-size: 25px;
}

 h3 {
	font-size: 20px;
	
} 


h3 {
	font-size: 15px;
	
} 

h4 {
	font-size: 11px;
	
} 

p {
	font-size: 10px;
	
}

ul {
	font-size: 10px;
}


	/* styling af knappen book nu på alle sider ---------------------------------------------------*/

.bookknap {
	color: #882A3F;
	border:solid 1px #707070;
	border-radius: 25px;
	text-decoration: none;
	padding: 10px;
}

.bookknap:hover {
	background-color:#D2A2A6;
	
}

.booksec {
	text-align: center;
	grid-column: 1/ span 14;
	margin-top: 20px;
	
}

/*priser på alle side farveændring ------------*/	

.pris {
	color:#882A3F;
}

.prisinfo h3 {
	color:#882A3F;
}


/* booking info på flere sider (med tlf nummer) ------------------------------------------- */
	
.info {
	
	text-align: center;
}
.tlf {
	color:#D2A2A6;
}
	
/* mere info med links til facebook og truspilot og instagram------------------------------------------- */
.mereinfo {
	grid-column: 1/ span 14;
	text-align: center;
}

.link {
	
	color:#D2A2A6
}





/* styling af header ---------------------------------------------------*/



header {
	display: grid;
	grid-template-columns: repeat(4, [col-start] 1fr);
	padding-bottom: 20px;
	padding-top: 20px;
}
	

.logo {
	grid-row: 1 / span 2;
	text-align: left;
	margin-left: 30px;
	
}
.logo a img {
		width: 150px;
	}

.search {
	grid-column: 1 / span 4;
	margin-right: auto;
	margin-left: auto;
	width:80%;
	
	
}

.search input {

	width:100%;
}

.head-icons {
	grid-column: 3/ span 2;
	display: grid;
	grid-template-columns: repeat(3, [col-start] auto);
	align-items: center;
	text-align: center;
	
	
}

.bruger {
	font-size: 20px;
	grid-column: col-start / span 1;
	color: black;
	margin-bottom: 20px;
	

}
.kurv {
	font-size: 20px;
	grid-column: 2 / span 1;
	color: black;
	margin-bottom: 20px;
}

.book {
	grid-column: 1 / span 2;
	
}


/* styling af footer ---------------------------------------------------*/
footer {
	text-align: center;
	color: white;
	background-color: #D2A2A6;
	padding-bottom: 20px;
	padding-top:20px;
}

footer a {
	color: white;
	font-size: 40px;
}

/* styling af hero billede og overlay  ---------------------------------------------------*/

.hero {
	height: auto;
	
}

.hero {
  position: relative;
  text-align: center;
  color: white;
	
}

.heroimg {
	width:100%;
	
	
}

.herotxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
font-size: 50px;
}

.herotxt h1 {
	margin-bottom: 20px;
}

.overlay {
	
	background-color: black;
	position: absolute;
	height: 100%;
	width: 100%;
	 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	opacity: 40%;
	
}	

/* slideshow styling---------------------------------------------------*/


/* Slideshow container */
.slideshow-container {
grid-column: 1 / span 14;
  width: 300px; 
  position: relative;
  margin: auto;
	margin-top: 30px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* placerer knapperne */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* pile får lidt baggrund når man holder musen over */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* prikkerne */
.prikker {
  text-align:center;
	grid-column: 1 / span 14;
	
}

.prik {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* forside styling---------------------------------------------------*/
.kurserknap {
	text-decoration: none;
	color:white;
	background-color:rgba(255,255,255,0.40);
	border-radius: 40px;
	padding: 5px;
	font-size: 10px;
	position: absolute;
	top: 100%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	
	

}


.covidbox {
	background-color: #F6F6F6;
	display: grid;
	grid-template-columns: repeat(7, [col-start] 1fr);
	padding-bottom: 50px;
	margin-right: 5px;
	width: 100%;
}
.covidbox h2 {
text-align: center;
grid-column: 2 / span 5;
}

.covidbox p, .covidbox h4 {

grid-column: 2 / span 5;
	margin: 5px;;
}

.covidbillede {
	text-align: center;
	grid-column: 2 / span 5;
	margin-top: 20px;
	
}

.volkommenbox {
	background-color: #F6F6F6;
	display: grid;
	grid-template-columns: repeat(7, [col-start] 1fr);
	padding-bottom: 50px;
	margin-left: 5px;
	width: 100%;
}
.volkommenbox h2 {
text-align: center;
grid-column: 2 / span 5;
}

.volkommenbox p {
grid-column: 2 / span 5;
margin: 0;
}


.volkommenbillede {
text-align: center;
	grid-column: 2 / span 5;
	margin-top: 20px;
	
}


/* anmeldelser styling-- på forside og kropbehandlinger-------------------------------------------------*/


.reviews{
	
	display: grid;
	grid-template-columns: repeat(2, [col-start] 1fr);
	padding-bottom: 50px;
	text-align: center;
}
.reviews h2 {
	text-align: center;
	grid-column: col-start / span 2;
	
}

.reviews h3 {
		color:#882A3F;

}


.review-1 {
	grid-column: 1 / span 1;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #F6F6F6;
	margin: 3px;
}
.review-2 {
	grid-column: 2 / span 1 ;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #F6F6F6;
	margin: 3px;
}.review-3 {
	grid-column: 1 / span 1;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #F6F6F6;
	margin: 3px;
}.review-4 {
	grid-column: 2 / span 1;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #F6F6F6;
	margin: 3px;
}

/* styling af pakker------------------------------------------ */	
.pakkebeskrivelser {
	grid-column: row-start / span 1;
}

.pakkepris {
	grid-column: 2/ span 1;
	text-align: center;
	
}

/* styling af pakker med 2 på hver rækker på desktop ------------------------------------------- */	


.pakkeA, .pakkeB{ 
	padding: 50px 100px 80px 100px;
	box-shadow: 10px 10px 20px 4px rgba(112,112,112,0.63);
	margin: 70px 10px 60px 10px;
	display: grid;
	grid-template-rows: 1fr auto;
	
}

.pakkeA h3, .pakkeB h3 {
	
	text-align: center;
	margin-bottom: 50px;
}

.pakkec, .pakked{ 
	padding: 70px 100px 50px 100px;
	box-shadow: 10px 10px 20px 4px rgba(112,112,112,0.63);
	margin: 70px 10px 60px 10px;
	display: grid;
	grid-template-rows: 1fr 1fr;
}


.pakked {
	
	display: grid;
	grid-template-columns: repeat(2, [col-start] 1fr);
}

/* styling af pakker med 3 på desktopversionen*/

.pakke1 h3, .pakke2 h3, .pakke3 h3 {
	text-align: center;
}

.pakke1, .pakke2, .pakke3 {
	margin: 70px 10px 60px 10px;
	box-shadow: 10px 10px 20px 4px rgba(112,112,112,0.63);
	padding: 20px 40px 60px 40px;
	display: grid;
	grid-template-rows: 3fr auto ;
}


/*stying af prislister generelt ------------------------------------*/
.priser {
	
	background-color: #F6F6F6;
	margin: 60px 0 60px 0 ;
	padding: 20px 20px 20px 20px;
	
}




/* styling af liste på bryllupside ------------------------------------------- */
	
.uncheck {
	opacity: 40%;
}
.pakke1 ul, .pakke2 ul, .pakke3 ul {
	list-style: none;
	padding-left:0px;

}

/*permanent makeup prisliste ------------------------------------*/

#eyelinerbeskrivelser {
	grid-column: col-start / span 2;
}

#eyelinepris1 { 
	grid-column: col-start / span 1;
	text-align: center;
	
}

#eyelinepris2 {
	grid-column: 2 / span 1;
	text-align: center;
	
}

#eyelinepris1 h3, #eyelinepris2 h3, .pakkepris h3 {
	color: #882A3F;
}

.permanentbeskrivelse {
	grid-column: col-start / span 14;
	padding: 70px;
	margin-top: 40px;
}


/* manicure og pedicure ------------------------------------------------------*/

#manioverskrift, #pedioverskrift, #klipoverskrift, #brynoverskrift, #voksoverskrift {
	grid-column: 2/ span 6;

}
.manisek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(6, [row-start] minmax(min-content, max-content));
	margin:0px;
	
}

.manisek2 {
	grid-column: 8/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: repeat(8, [row-start] minmax(min-content, max-content));
	margin: 0;
	
}



	#maninavn1, #maninavn2, #maninavn3, #manibeskrivelse1, #manibeskrivelse2, #manibeskrivelse3, 	#maninavn4, #maninavn5, #maninavn6, #maninavn7,#manibeskrivelse4, #manibeskrivelse5, #manibeskrivelse6, #manibeskrivelse7   {
	grid-column:1/ span 1;

}

	#manipris1, #manipris2, #manipris3, #manipris4, #manipris5, #manipris6, #manipris7 {
	grid-column: 2/ span 1;
	text-align: center;
		color:#882A3F;

}

#manipris1  {
	
	grid-row: 1/ span 1;
}

#manipris2 {
	
	grid-row: 3/ span 1;
}

#manipris3{
	
	grid-row: 5/ span 1;
}


#manipris4 {
	
	grid-row: row-start/ span 1;
}


#manipris5 {
	
	grid-row: 3/ span 1;
}


#manipris6{
	
	grid-row: 5/ span 1;
}


#manipris7{
	
	grid-row: 7/ span 1;
}


.pedisek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(5, [row-start] minmax(min-content, max-content));
	margin:0px;
	
}

.pedisek2 {
	grid-column: 8/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: repeat(5, [row-start] minmax(min-content, max-content));
	margin: 0;
	
}


	#pedinavn1, #pedinavn2, #pedinavn3, #pedibeskrivelse1, #pedibeskrivelse3, #pedinavn4, #pedinavn5, #pedinavn6, #pedibeskrivelse5, #pedibeskrivelse6  {
	grid-column: 1/ span 1;

}

	#pedipris1, #pedipris2, #pedipris3,#pedipris4, #pedipris5, #pedipris6, #pedipris7 {
	grid-column: 2/ span 1;
	text-align: center;
		color:#882A3F;

}

#pedipris1  {
	
	grid-row: 1/ span 1;
}

#pedipris2 {
	
	grid-row: 3/ span 1;
}

#pedipris3{
	
	grid-row: 4/ span 1;
}


#pedipris4 {
	
	grid-row: 1/ span 1;
}


#pedipris5 {
	
	grid-row: 2/ span 1;
}


#pedipris6{
	
	grid-row: 4/ span 1;
}


.klipsek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(2, [row-start] minmax(min-content, max-content));
	margin:0px;
	
}

.klipsek2 {
	grid-column: 8/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: repeat(1, [row-start] minmax(min-content, max-content));
	margin: 0px;
	
}

	#klipnavn1, #klipnavn2, #klipnavn3 {
	grid-column: 1/ span 1;

}

	#klippris1, #klippris2, #klippris3 {
	grid-column: 2/ span 1;
	text-align: center;
		color:#882A3F;

}

#klippris1 {
	grid-row: row-start/ span 1;
}


/* bryn og vipper ------------------------------------------------------ */


.brynsek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(6, [row-start] 1fr);
	margin:0px;
	
}

.brynsek2 {
	grid-column: 8/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: repeat(6, [row-start] minmax(min-content, max-content));
	margin:0;	
	
}

	#brynnavn1, #brynnavn2, #brynnavn3, #brynnavn4, #brynnavn5, #brynnavn6, #brynnavn7, #brynnavn8, #brynbeskrivelse6, #brynbeskrivelse7, #brynbeskrivelse8 {
	grid-column: 1/ span 1;

}

	#brynpris1, #brynpris2, #brynpris3, #brynpris4, #brynpris5, #brynpris6, #brynpris7, #brynpris8  {
	grid-column: 2/ span 1;
	text-align: center;
	color:#882A3F;

}

#brynpris1, #brynpris6 {
	grid-row: 1/ span 1;
	color:#882A3F;
}

#brynpris2 {
	grid-row: 2/ span 1;
}
#brynpris3, #brynpris7{
	grid-row: 3/ span 1;
}
#brynpris4 {
	grid-row: 4/ span 1;
}
#brynpris5, #brynpris8 {
	grid-row: 5/ span 1;
}

/*voks side--------------------------------------------------------------------------------------------------*/

.vokssek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(10, [row-start] minmax(min-content, max-content));
	margin:0px;
	
}

.vokssek2 {
	grid-column: 8/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: repeat(9, [row-start] minmax(min-content, max-content));
	margin:0;	
}

	#voksnavn1, #voksnavn2, #voksnavn3, #voksnavn4, #voksnavn5, #voksnavn6, #voksnavn7, #voksnavn8, #voksnavn9, #voksnavn10, #voksnavn11, #voksnavn12, #voksnavn13, #voksnavn14, #voksnavn15, #voksnavn16, #voksnavn17, #voksnavn18, #voksnavn19 {
	grid-column: 1/ span 1;

}

	#vokspris1, #vokspris2, #vokspris3, #vokspris4, #vokspris5, #vokspris6, #vokspris7, #vokspris8, #vokspris9, #vokspris10, #vokspris11, #vokspris12, #vokspris13, #vokspris14, #vokspris15, #vokspris16, #vokspris17, #vokspris18, #vokspris19  {
	grid-column: 2/ span 1;
	text-align: center;
		color:#882A3F;

}


#vokspris1, #vokspris11 {
	grid-row: 1/ span 1;
}

#vokspris2, #vokspris12 {
	grid-row: 2/ span 1;
}
#vokspris3, #vokspris13 {
	grid-row: 3/ span 1;
}
#vokspris4, #vokspris14 {
	grid-row: 4/ span 1;
}
#vokspris5, #vokspris15 {
	grid-row: 5/ span 1;
}
#vokspris6, #vokspris16 {
	grid-row: 6/ span 1;
}
#vokspris7, #vokspris17 {
	grid-row: 7/ span 1;
}
#vokspris8, #vokspris18 {
	grid-row: 8/ span 1;
}
#vokspris9, #vokspris19 {
	grid-row: 9/ span 1;
}
#vokspris10 {
	grid-row: 10/ span 1;
}



/* bryllup side prisliste  ----------------------------------------------------------------------------------------------------------------------- */
#proveoverskrift {
	grid-column: 2/ span 6;
}
#pigeoverskrift {
	grid-column: 8/ span 6;
}

.provesek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(6, [row-start] minmax(min-content, max-content));
	margin: 20px 20px 20px 0px;
	
}


.pigesek1 {
	grid-column: 8/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: repeat(6, [row-start] minmax(min-content, max-content));
	margin: 20px 0px 20px 20px;
	
}



	#provenavn1,  #provenavn2,  #provenavn3, #provebeskrivelse1,  #provebeskrivelse2, #provebeskrivelse3 {
	grid-column:1/ span 1;

}

#pigenavn1, #pigenavn2,  #pigenavn3, #pigebeskrivelse1, #pigebeskrivelse2, #pigebeskrivelse3  {
	grid-column:1/ span 1;

}

	#provepris1, #provepris2, #provepris3, #pigepris1, #pigepris2, #pigepris3 {
	grid-column: 2/ span 1;
	text-align: center;
		color:#882A3F;

}

#provepris1  {
	
	grid-row: 1/ span 1;
}

#provepris2 {
	
	grid-row: 3/ span 1;
}

#provepris3{
	
	grid-row: 5/ span 1;
}

#pigepris1  {
	
	grid-row: 1/ span 1;
}

#pigepris2 {
	
	grid-row: 3/ span 1;
}

#pigepris3{
	
	grid-row: 5/ span 1;
}


#koreoverskrift {
	grid-column: 2/ span 6;
}

.koresek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(2, [row-start] minmax(min-content, max-content));
	margin: 20px 20px 20px 0px;
	
}



	#korenavn1, #koreeskrivelse1 {
	grid-column: 1/ span 1;
	

}

	#korepris1  {
	grid-column: 2/ span 1;
	text-align: center;
		color:#882A3F;

}

#korepris1 {
	grid-row: row-start/ span 1;
}



/* styling hår og makeup prisliste -----------------------------------------------------------------------------------------------------------*/


#konfoverskrift {
	grid-column: 2/ span 6;
}
.konfsek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(2, [row-start] minmax(min-content, max-content));
	
	
}

.konfsek2 {
	grid-column: 8/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: repeat(1, [row-start] minmax(min-content, max-content));
	
	
}

	#konfnavn1, #konfnavn2, #konfnavn3, #konfbeskrivelse1, #konfbeskrivelse2, #konfbeskrivelse3 {

	grid-column: 1/ span 1;

}

	#konfpris1, #konfpris2, #konfpris3 {
	grid-column: 2/ span 1;
	text-align: center;
		color:#882A3F;

}

#konfpris1, #konfpris3{
	grid-row: row-start/ span 1;
}


/* styling ansigstbehandlinger prisliste -----------------------------------------------------------------------------------------------------------*/

#tillagoverskrift {
	grid-column: 2/ span 6;
}
.tillagsek1 {
	grid-column: 2/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
		grid-template-rows: repeat(2, [row-start] minmax(min-content, max-content));
	margin: 20px 20px 20px 0px;
	
}

.tillagsek2 {
	grid-column: 8/ span 6;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-rows: repeat(1, [row-start] minmax(min-content, max-content));
	margin: 20px 0px 20px 20px;
	
}

	#tillagnavn1, #tillagbeskrivelse1, #tillagnavn2, #tillagbeskrivelse2, #tillagnavn3, #tillagbeskrivelse3, #tillagnavn4, #tillagbeskrivelse4, #tillagnavn5, #tillagbeskrivelse5, #tillagnavn6, #tillagbeskrivelse6 {
	grid-column: 1/ span 1;

}


/* kursus siden -----------------------------------------------------------------------------------------------------------*/
.kursusbeskrivelse {
	grid-column: 1/ span 14;
	
	padding: 50px;
	margin-bottom: 20px;
	
}

.kursusbeskrivelse h4 {
		color:#882A3F;
	font-family: 'Lora', serif;
}

.kursusoverskrift {
		grid-column: 1/ span 14;
	text-align: center;
	margin-bottom: 0;
}


.grupperkurser {
	grid-column: 1/ span 14;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 50px;
	text-align: center;
	background-color: #F6F6F6;
	margin-bottom: 30px;
	margin-top: 30px;
	
}
.grupperkurser h3 {
	grid-column: 1/ span 3;
	
}


/*om side styling  ------------------------------------*/

.omside {
	
	display: grid;
	grid-template-columns: repeat(14, [col-start] 1fr);
	margin: 30px 0 30px 0;
	background-color: #F6F6F6;
	padding: 30px 0 30px 0;
	
}



.omtekst {
	grid-column: 1 / span 14;
}


.ombillede {
	grid-column: 1 / span 14;
	text-align: center;
}


/*kontakt   ------------------------------------*/



.kliniksec {
	
	display: grid;
	grid-template-columns: repeat(14, [col-start] 1fr);
	margin: 30px 0 30px 0;
	background-color: #F6F6F6;
	padding: 30px 0 30px 0;
}
.klinikinfo h4 {
	color:#882A3F;
	font-family: 'Lora', serif;
	
}

.klinikinfo {
	grid-column: 1 / span 14;
}

.klinikfotos {
	grid-column: 1 / span 14;
	text-align: center;
}



.kontakt {
	grid-column: 1 / span 14;
	display: grid;
	grid-template-columns: repeat(14, [col-start] 1fr);
	margin-top: 30px;
	
}


.kontaktform {
	grid-column: 1 / span 7;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	
	
}

.kontaktform h4 {
	color:#882A3F;
	font-family: 'Lora', serif;
}

#fname, #phone, #emne, #email {
	width: 100%;
	display: block;
	margin: 20px 0 20px 0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 5px;
	border: none;
	color: #504D4D;
	font-family: 'Lora', serif;
	
}

#emne {
	margin-bottom: 50px;
}

.kontaktinfo {
	grid-column: 8 / span 7;
	text-align: center;
}

.kontaktinfo h4 {
	color:#882A3F;
}

.shop {
	grid-column: 1 / span 14;
	text-align: center;
	font-family: 'Lora', serif;
	color:#882A3F;
	margin: 100px 0 100px 0;
}



@media only screen and (min-width: 600px) {


h1 {
	font-size: 60px;
}

h3 {
	font-size: 25px;
	
} 

h4 {
	font-size: 20px;
	
} 

p {
	font-size: 17px;
	
}
	
	ul {
	font-size: 17px;	
	}
	
	
/* booking info på flere sider (med tlf nummer) ------------------------------------------- */
	
.info {
	grid-column: col-start / span 14;
	
}


		
	
	
/* styling af header ---------------------------------------------------*/


	
header {
	display: grid;
	grid-template-columns: repeat(14, [col-start] 1fr);

}
	
.logo {
	grid-row: 1 / span 2;
	grid-column: 7 / span 2;
	margin: 0;
	
	
	
}
	.logo a img {
		width: 200px;
	}

	
.search {
	grid-column: 12 / span 2;
}



.head-icons {
	grid-column: 12 / span 2;
	display: grid;
	grid-template-columns: repeat(3, [col-start] auto);
	align-items: center;
	text-align: center;
}

.bruger {
	font-size: 20px;
	grid-column: col-start / span 1;
	margin-bottom: 0px;
	
	

}
.kurv {
	font-size: 20px;
	grid-column: 2 / span 1;
	margin-bottom: 0px;
	
}

.book {
	grid-column: 3 / span 1;
	
}

	

/* wrapper på alle sider med grid til desktop ---------------------------------------------------*/

.wrapper {
	display: grid;
	grid-template-columns: repeat(14, [col-start] 1fr);
	
}
	

/* hero på desktop version ---------------------------------------------------*/

.hero {

	grid-column: col-start / span 14;
}



.herotxt h1 {
	margin-bottom: 20px;
}


	
	
/* forside styling ændringer til desktop---------------------------------------------------*/


.covidbox {
	grid-column: col-start / span 7;
}


.covidbillede {
	text-align: center;
}

.volkommenbox {
	grid-column: 8 / span 7;
	}
	
	.kurserknap {
		top: 120%;
  	padding: 10px;
	font-size: 20px;
	}
	


/* desktop ændringer i grid: anmeldelser styling-- på forside og kropbehandlinger-------------------------------------------------*/


.reviews{
	
	grid-column: col-start / span 14;
	display: grid;
	grid-template-columns: repeat(14, [col-start] 1fr);
	
}
.reviews h2 {
	
	grid-column: col-start / span 14;
}

.review-1 {
	grid-column: 2 / span 3;
	
}
.review-2 {
	grid-column: 5 / span 3;

}
	.review-3 {
	grid-column: 8 / span 3;
	
}.review-4 {
	grid-column: 11 / span 3;
	

}
	
	

/* ændring i grid!!  styling af pakker med 2 på hver rækker på desktop ------------------------------------------- */	

.pakkeA {
	grid-column: 2 / span 6;}


.pakkec {
	grid-column: 2 / span 6;}

.pakked {
	grid-column: 8 / span 6;

}
.pakkeB {
	grid-column: 8 / span 6;
	
}




/* ændring i grid!!  styling af pakker med 3 på hver rækker på desktop ------------------------------------------- */


.pakke1 {
	grid-column: 2 / span 4;
	
}
.pakke2 {
	grid-column: 6 / span 4;
	
}

.pakke3 {
	grid-column: 10 / span 4;
	
}


	
/*stying af prislister generelt ------------------------------------*/
.priser {
	grid-column: col-start / span 14;
	display: grid;
	grid-template-columns: repeat(14, [col-start] 1fr);
	margin: 60px 0 60px 0 ;
	padding-bottom: 30px;
	
}
	
	/*om side styling  ------------------------------------*/

.omside {
	grid-column: col-start / span 14;
	display: grid;
	
	
}





.kliniksec {
	grid-column: col-start / span 14;
	display: grid;
	grid-template-columns: repeat(14, [col-start] 1fr);
	
}

	

.omtekst {
	grid-column: 7 / span 7;
}

.ombillede {
	grid-column: 2 / span 4;
	text-align: center;
}


.klinikinfo {
	margin-bottom: auto;
	margin-top: auto;
	grid-column: 2 / span 6;
}

.klinikfotos {
	grid-column: 9 / span 4;
	text-align: center;
}

/* slideshow ------------------------------------------------*/	
	
.slideshow-container {

  width: 500px;

	
}
	
}



